body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  border-radius: 15px;
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 2px solid black;
}

.navbar-brand {
  text-align: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.video {
  width: 550px;
}

.gridContainer {
  justify-content: center;
}

.paper {
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  width: fit-content;
  background-color: white;
}

.options .root {
  display: flex;
  flex-direction: column;
}
.options .gridContainer {
  padding: 20px;
  width: 100%;
}
.options .container {
  width: 600px;
  margin: 35px 0;
  padding: 0;
}
.options .paper {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid black;
}

.options .padding {
  padding: 5px 0px;
}

.options .gridContainer button,
input,
h6 {
  margin: 8px 0px;

  width: -webkit-fill-available;
}

.options .bi-clipboard-data,
.bi-telephone-fill {
  margin: 0px 8px;
  margin-bottom: 5px;
}

/* For Mobile devices */

@media only screen and (max-width: 600px) {
  .gridContainer {
    flex-direction: column;
  }

  .navbar {
    width: 90%;
  }

  .options .gridContainer {
    flex-direction: "column";
  }

  .options .container {
    width: "80%";
  }
}
